Non-db constraints (I took these out first to make it easier to figure out what we can put in ER)
•Pet owners can search for CareTakers
•Users can see each other’s reviews
•CareTakers can choose which pet they want to take care of (when bidding for service)
•Part time CareTaker, they should be able to specify their availability for the current year and the next year


List of constraints grouped by the main entities

USERS
1.Users are identified by a uid, and their email and hashed password must be recorded.
2.Every User has a profile.
3.A User can be either a Pet owner and/or Care taker (is-a, can overlap), or a PCS Administrator.

User Profile
1.Every User Profile has a name and phone number.

PET
1.Pets are identified by a pid. 
2.Every Pet has its own profile (Dependent on PetOwner)

Pet Profile
1.Every Pet Profile has a name, description, special requirements (daily walk, types of food, etc), gender, date of birth
2.Every Pet Profile has a Category. (cats, dogs, big dogs, lizards, etc)(Dependent on pet)

Pet Categories
1.Categories are identified by name.
2.A category that has subcategories is called a parent category.
3.A category can have multiple subcategories (e.g. big dogs within dogs)
4.A subcategory only has 1 parent category.
5.A subcategory can also be a parent category for other subcategories 
(Subcategories dependent on categories)

CareTaker
1.Every CareTaker can only take care of certain categories of pets.
2.Every CareTaker has a daily price for each category of pets they can take care of.
3.Every CareTaker can take care of more than one pet at any time.
4.Every CareTaker has a salary.
==================================
5.Every CareTaker is either a Full-time (2x150 consecutive days/year) or part-time employee.
==================================
6.A Full-time CareTaker can take leave. This marks them as unavailable, otherwise, they would be available.
7.A Full-time CareTaker cannot apply for leave on a date where they are caring for a pet.
8.A Full-time CareTaker can take care of up to 5 pets once.
9.A full-time CareTaker will always accept any job if they have not applied for leave, they are not taking care of 5 pets at the same time yet, and they can take care of the pet in the job.
==================================
10.Every Part-Time CareTaker can have multiple availabilities.
11.A Part-time CareTaker cannot take care of more than 2 Pets unless they have a good rating (e.g., 4 out of 5) and they cannot take care of more than 5 Pet regardless of rating. 
DailyPrice
1.Daily Prices are identified by the CareTaker and Pet Category, and must have a price.

PartTimeAvailabilities
1.Availabilities are identified by the CareTaker, start date, and end date.
2.Availabilities for the same CareTaker cannot overlap (start date between another availabilities’ start and end date. (Dependent on CareTaker)

FullTimeLeaves
1.Leaves are identified by the CareTaker, start date, and end date.
2.Leaves for the same CareTaker cannot overlap (start date between another leaves’ start and end date) (Dependent on CareTaker)

Salary
1.Salary is identified by caretaker and month year, and has an amount.
2.After the end of the month, the salary will not change.
3.For a full-timer’s latest month, salary is calculated based on rating and the number of pets taken care of in a given month for how many days. This is called pet-day. The Care Taker will receive $3000 per month up to 60 pet-day, following which they receive 80% of the transaction price as a bonus.
4.For a part-timer’s latest month, the amount is 75% of their total transaction prices for the month. (Dependent on CareTaker)

Transaction
1.Transactions are identified by tid, and must have a transfer method (delivery, pickup, physical), location, total price, payment method, start date, end date
2.Every transaction has a review, given by the PetOwner to the CareTaker, after the transaction is over.
3.Every transaction is about one pet.
4.Every transaction might have a credit card number 
Credit Card
1.Pre-registered credit card info of a user; holds credit card number, holder name, expiry date. (Dependent on User)

Review
1.Reviews are identified by transaction id, and must have a description and rating (Dependent on Transaction)

PetOwner
1.Pet Owners can have many pets.
2.Pet Owners can pay the CareTakers (**)

Bid
1.Bids are identified by bid, and must have a transfer method (delivery, pickup, physical), location, total price, start date, end date, bid end date, isActive, isSelected
2.Bids are made by PetOwners.
3.Bids cannot be created if the CareTaker is already taking care of the maximum number of pets they can care for.
4.Bids can be selected by the CareTakers.
5.Every Bid is about a pet.
6.If the bids were not selected two days before the start date, the bid with the highest daily rate is automatically selected by the system two days before the start date of the transaction.
7.Bids can only be for transactions at least one day in advance.
8.Selected bids are converted into transactions.
9.When a bid is accepted, all overlapping bids for the same dates for the same pet will be invalidated, and if this bid causes the CareTaker to take care of the maximum number of pets they can take care of for some dates, all bids for those dates for this CareTaker will be invalidated. 
PCS Admin
1.PCS admin can help transfer a Pet from the Pet owner to the CareTaker
2.PCS Admin can specify the minimum daily price for a full time CareTaker for a particular pet type and the price increases with the rating of the CareTaker but will never be below the base price
