Non-db constraints 
1.PetOwners can search for CareTakers
2.Users can see each other’s reviews
3.CareTakers can choose which Pet they want to take care of (when Bidding for service)
4.Part-time CareTaker should be able to specify their availability for the current year and the next year


List of constraints grouped by the main entities

Users
1.Users are identified by a uid, and their email and hashed password must be recorded.
2.Every User has a User Profile.
3.A User can be either a PetOwner and/or Care taker (is-a, can overlap), or a PCS Administrator.
4.A User can have many Credit Cards.

User Profiles
1.Every User Profile has a name and phone number.

PetOwners
1.PetOwners can have many Pets.

Pets
1.Pets are identified by a pid. 
2.Every Pet has its own Pet Profile.

Pet Profiles
1.Every Pet Profile has a name, description, special requirements (daily walk, types of food, etc), gender, date of birth
2.Every Pet Profile has a Category. (cats, dogs, big dogs, lizards, etc)

(Pet) Categories
1.Categories are identified by name.
2.A Category that has Subcategories is called a parent Category.
3.A Category can have multiple Subcategories (e.g. big dogs within dogs)
4.A Subcategory only has 1 parent Category.
5.A Subcategory can also be a parent Category for other Subcategories.

CareTaker
1.Every CareTaker can only take care of certain Categories of Pets.
2.Every CareTaker has a daily price for each Category of Pets they can take care of.
3.Every CareTaker can take care of more than one Pet at any time.
4.Every CareTaker has a Salary.
5.Every CareTaker is either a Full-time (2x150 consecutive days/year) or Part-time employee.
6.A Full-time CareTaker can take Leave. This marks them as unavailable, otherwise, they would be available.
7.A Full-time CareTaker cannot apply for leave on a date where they are caring for a Pet.
8.A Full-time CareTaker can take care of up to 5 Pets once.
9.A Full-time CareTaker will always accept any job if they have not applied for leave, they are not taking care of 5 Pets at the same time yet, and they can take care of the Pet in the job.
10.Every Part-time CareTaker can have multiple Availabilities.
11.A Part-time CareTaker cannot take care of more than 2 Pets unless they have a good rating (e.g., 4 out of 5) and they cannot take care of more than 5 Pet regardless of rating. 
DailyPrice
1.Daily Prices are identified by the CareTaker and PetCategory, and must have a price.

(Part-time) Availabilities
1.Availabilities are identified by the CareTaker, start date, and end date.
2.Availabilities for the same CareTaker cannot overlap (start date between another Availabilities’ start and end date. 

(Full-time) Leaves
1.Leaves are identified by the CareTaker, start date, and end date.
2.Leaves for the same CareTaker cannot overlap (start date between another leaves’ start and end date) 

Salary
1.Salary is identified by caretaker and month year, and has an amount.
2.After the end of the month, the Salary will not change.
3.For a Full-timer’s latest month, Salary is calculated based on rating and the number of Pets taken care of in a given month for how many days. This is called Pet-day. The Care Taker will receive $3000 per month up to 60 Pet-day, following which they receive 80% of the transaction price as a bonus.
4.For a Part-timer’s latest month, the amount is 75% of their total transaction prices for the month. 

Transaction
1.Transactions are identified by tid, and must have a transfer method (delivery, pickup, physical), location, total price, payment method, start date, end date
2.Every transaction can have a review, given by the PetOwner to the CareTaker, after the transaction is over.
3.Every transaction is about one Pet.
4.Every transaction might have a credit card number.

Credit Card
1.Pre-registered credit card info of a user; holds credit card number, holder name, expiry date. 

Review
1.Reviews are identified by tid, and must have a description and rating 

Bid
1.Bids are identified by Bid, and must have a transfer method (delivery, pickup, physical), location, total price, start date, end date, Bid end date, isActive, isSelected
2.Bids are made by PetOwners.
3.Bids cannot be created if the CareTaker is already taking care of the maximum number of Pets they can care for.
4.Bids can be selected by the CareTakers.
5.Every Bid is about a Pet.
6.If the Bids were not selected two days before the start date, the Bid with the highest daily rate is automatically selected by the system two days before the start date of the transaction.
7.Bids can only be for transactions at least one day in advance.
8.Selected Bids are converted into Transactions.
9.When a Bid is accepted, all overlapping Bids for the same dates for the same Pet will be invalidated, and if this Bid causes the CareTaker to take care of the maximum number of Pets they can take care of for some dates, all Bids for those dates for this CareTaker will be invalidated.

PCS Administrator
1.PCS Administrator can help transfer a Pet from the PetOwner to the CareTaker
2.PCS Administrator can specify the minimum daily price for a Full-time CareTaker for a particular Pet Category and the price increases with the overall rating of the CareTaker but will never be below the base price
